@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.body {
    margin: 0;
    padding: 0;
}

.logo {
    max-width: 12.5em;
    display: block;
    margin: 0 auto;
}

.logo img {
    width: 100%;
}

.header{
    display: block;
    width: 100%;
    background-color: black;
    background-position: center center;
    background-size: 100%;
    background-repeat: repeat;
    margin-left: auto;
    margin-right: auto;
    color: white;
    position:relative;
    z-index: 1000;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
	height: 46px;
    width: 26px;
	overflow: hidden;
    position: absolute;
    top: 24px;
    right: 5%;
	background: transparent url("../images/icon-nav.svg") no-repeat 0 0;
	text-indent: 100%;
	white-space: nowrap; 
}

/* Dropdown Menu */

.nav-top {
	max-height: 0; /* makess invisible by default */
    overflow: hidden;
    
    /* Animation on open */

	-moz-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	-webkit-transition: all 250ms linear;
	transition: all 250ms linear;
}

.nav-top[data-state="expanded"] {
	max-height: 6em; /* max height of dropdown */
}

.nav-top ul { 
	margin: 0;
    padding: 1.5rem 0;
    list-style-type: none;
}

.nav-top a,
.nav-top a:link,
.nav-top a:visited {
	display: inline-block;
	font-size: 1.25em;
    padding: .875rem 5%;
	color: white;
	text-decoration: none;
}

.button-grid {
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
}

.button-grid li {
    padding: 1em;
}

.bj-wrapper {
    position: relative;
    width: 200px;
    top: 20px;
    left: calc(50% - 100px);
    height: 200px; 
}

.bj-wrapper,
.bj-wrapper:link,
.bj-wrapper:visited {
    transition: all 2000ms ease-in-out 10ms;
}

.bj-wrapper:hover,
.bj-wrapper:focus,
.bj-wrapper:active {
    transform: scale(1.5) rotate(-11deg);
}

.bj {
    width: 130px;
    position: absolute;
    left: 30px;
    top: 40px;
}

.billboard {
    padding: 12%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-image: url(../images/brendan-billboard.jpg);
    width: 100%;
    height: calc(100vh - 96px); 
    overflow: hidden;
    position: relative;
    right: 0;
}

.hello {
    list-style-type: none;
    line-height: 2;
    border-radius: 3em;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    display: block;
    background-color: none;
    font-weight: lighter;
    margin: 50px 0 0;
    color: black;
    padding: 0;
    z-index: 1000;
    position: relative;
}

.more {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    z-index: 100000;
}

.hello a,
.hello a:link,
.hello a:visited {
    transition: all 500ms ease-in-out 10ms;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: lighter;
    overflow: hidden;
    width: 3em;
    line-height: 3em;
    display: inline-block;
    border-radius: 50%;
    border: 5px solid transparent;
    box-sizing: content-box;
}

.hello a:hover {
    background-color: white;
    color: black;
    text-align: center;
    font-weight: lighter; 
    color: black;
    border-width: 10px;
    margin-top: -10px;
    border-color: white;
}

.shadows {
    background-image: url(../images/shadowstest.svg); 
    background-size: 450px 210px;
    width: 450px;
    height: calc(100vh + 210px);
    -webkit-animation: shadows 15s linear infinite;
    animation: shadows 15s linear infinite;
    position: absolute;
    top: 0;
    right: -50px;
    overflow: hidden;
    background-repeat: repeat-y;
}

@-webkit-keyframes shadows {
    0% {
    -webkit-transform: translateY(0px);
    }
    100% {
    -webkit-transform: translateY(-210px)
    }
}

@keyframes shadows {
    0% {
    transform: translateY(0px);
    }
    100% {
    transform: translateY(-210px)
    }
}

.stitches {
    width: 200px;
    position: absolute;
    -webkit-animation: rotate 30s linear infinite;
    animation: rotate 30s linear infinite;
}

@-webkit-keyframes rotate {
    from {
    -webkit-transform: rotate(0deg);
    }
    to {
    -webkit-transform: rotate(360deg);
    }
}
    @keyframes rotate {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }  
}

.button {
    line-height: 1.5em;
    border-radius: .2em;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    display: inline-block;
}


.nav-top li {
    display: inline-block;
}

.nav-top a,
.nav-top a:link,
.nav-top a:visited {
	display: inline-block;
	font-size: 1.25em;
	color: #fff;
	text-decoration: none;
    text-align: center;
}

.rtt {
    position: fixed;
    bottom: 1em;
    left: -1em;
    width: 5em;
    height: auto;
}

.byline {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.byline2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.shadow-split {
    height: 10em;
    width: 100%;
    background-image: url(../images/shadow-split.svg);
    z-index: 20000;
    position: absolute;
    top: calc(100vh - 96px);     
}

.shadow-split-2 {
    height: 10em;
    width: 100%;
    background-image: url(../images/shadow-split.svg);
    z-index: 20000;
    position: absolute;
    top: calc(200vh - 96px);     
}

.hat-background {
    padding: 12%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-image: url(../images/hat-background.jpg);
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    position: relative;
    right: 0;
}

.fade {
    display: block;
    opacity: 0;
    transition: all 450ms ease-in;
}

.js-fade {
    opacity: 1;
}

.thumbnails {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    position: relative;
    top: calc(50vh - 350px);
     -webkit-filter: drop-shadow(-10px 10px 6px rgba(0,0,0,.6));
    -moz-filter: drop-shadow(-10px 10px 6px rgba(0,0,0,.6));
    -ms-filter: drop-shadow(-10px 10px 6px rgba(0,0,0,.6));
    -o-filter: drop-shadow(-10px 10px 6px rgba(0,0,0,.6));
    filter: drop-shadow(-10px 10px 6px rgba(0,0,0,.6));
}

.thumbnails li {
    display: inline-block;
}

.thumbnails a {
    display: block;
}

.lightbox {
    position: fixed;
    left: 100%;
    right: -100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 30000;
    opacity: 0;
    -moz-transition: all 450ms ease-in-out;
    -o-transition: all 450ms ease-in-out;
    -webkit-transition: all 450ms ease-in-out;
    transition: all 450ms ease-in-out;
}

.lightbox-img {
    display: block;
    width: 100%;
}

.lightbox-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lightbox[data-state="visible"] {
    opacity: 1;
    left: 0;
    right: 0;
}

.lightbox-container {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 15px;
    top: 15px;
}

.about {
    padding: 12%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-image: url(../images/about-back.jpg);
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    position: relative;
    right: 0;
}

@media only screen and (min-width: 38em) {
    
    .bj-wrapper {
        position: relative;
        width: 200px;
        top: -80px;
        left: calc(50% - 100px);
        height: 200px; 
}
    
    .more {
        display: inline-block;
        margin: 0 auto;
        position: relative;
        top: -80px;
}
    
    .shadows {
        background-image: url(../images/shadowstest.svg); 
        background-size: 400px 200px;
        width: 400px;
        height: calc(100vh + 200px);
        -webkit-animation: shadows 15s linear infinite;
        animation: shadows 15s linear infinite;
        position: absolute;
        top: 0;
        right: 15px;
        overflow: hidden;
        background-repeat: repeat-y;
}

@-webkit-keyframes shadows {
    0% {
    -webkit-transform: translateY(0px);
    }
    100% {
    -webkit-transform: translateY(-200px)
    }
}

@keyframes shadows {
    0% {
    transform: translateY(0px);
    }
    100% {
    transform: translateY(-200px)
    }
}
 

@media only screen and (min-width: 60em) {
    
    .shadows {
        background-image: url(../images/shadowstest.svg); 
        background-size: 340px 220px;
        width: 340px;
        height: calc(100vh + 220px);
        -webkit-animation: shadows 15s linear infinite;
        animation: shadows 15s linear infinite;
        position: absolute;
        top: 0;
        right: 30px;
        overflow: hidden;
        background-repeat: repeat-y;
}

@-webkit-keyframes shadows {
    0% {
    -webkit-transform: translateY(0px);
    }
    100% {
    -webkit-transform: translateY(-220px)
    }
}

@keyframes shadows {
    0% {
    transform: translateY(0px);
    }
    100% {
    transform: translateY(-220px)
    }
}
    
@media only screen and (min-width: 70em) {
    
    .shadows {
        background-image: url(../images/shadowstest.svg); 
        background-size: 500px 330px;
        width: 500px;
        height: calc(100vh + 330px);
        -webkit-animation: shadows 15s linear infinite;
        animation: shadows 15s linear infinite;
        position: absolute;
        top: 0;
        right: 15px;
        overflow: hidden;
        background-repeat: repeat-y;
}

@-webkit-keyframes shadows {
    0% {
    -webkit-transform: translateY(0px);
    }
    100% {
    -webkit-transform: translateY(-330px)
    }
}

@keyframes shadows {
    0% {
    transform: translateY(0px);
    }
    100% {
    transform: translateY(-330px)
    }
}
 






